extends layout

block content
  h1= Lab1 
   ul
    li 
      a.dropdown-item(href='/') Home
    li
      a.dropdown-item(href='/about') About
    li 
      a.dropdown-item(href='/contact') Contact
 
